.c-button-group {
  display: flex;
  width: 100%;

  &.c-button-group--column {
    flex-direction: column;
  }

  .c-button {
    flex-grow: 2;
  } 
}

.c-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: var(--border-radius);
  text-align: center;
  background: var(--color-bg-z0);
  color: var(--color-text-base);
  box-shadow: 0 0 0 1px inset var(--color-border-z2);

  svg {
    fill: currentColor;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.25;
  }

  &:hover {
    background: var(--color-bg-z1);
    box-shadow: 0 0 0 1px inset var(--color-border-z3);
  }

  &.c-button--primary {
    color: var(--color-text-base-on-primary);
    background: var(--color-primary);
    box-shadow: none;

    &:hover {
      background: var(--color-primary-hover);
    }
  }

  &.c-button--red {
    color: var(--color-text-base-on-red);
    background: var(--color-red);
    box-shadow: none;

    &:hover {
      background: var(--color-red-hover);
    }
  }

  &.c-button--radio {
    box-shadow: 0 0 0 1px inset var(--color-primary) !important;
  }

  &.c-button--icon {
    padding: 8px;
    min-width: 40px;
    min-height: 40px;
  }

  &.c-button--icon.c-button--small {
    min-width: 18px;
    min-height: 18px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.c-button--bare {
    padding: 0;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  &.c-button--circle {
    border-radius: 100%;
  }

  &.c-button--planet {
    justify-content: flex-start;
    overflow: hidden;
    gap: 16px;
    box-shadow: none;
    padding: 12px 16px;
    min-width: 136px;

    &:hover {
      box-shadow: 0 0 0 1px inset var(--color-border-z2);
      background: none;
    }
  }

  &.c-button--rule {
    .c-button__rule {
      display: block;
    }
  }
}

.c-button__planet {
  position: relative;
  width: 32px;
  height: 32px;
  background-size: 64px 64px;
  background-position: -16px -16px;

  &.c-button__planet--saturn {
    background-size: 32px 32px;
    background-position: initial;
  }
}

.c-button__rule {
  display: none;
  position: absolute;
  width: calc(100% - 24px);
  height: 2px;
  left: 12px;
  background: var(--color-bg-z0);

  &.c-button__rule--top {
    top: 0;
  }

  &.c-button__rule--bottom {
    bottom: 0;
  }
}