.c-button-group {
  display: flex;
  width: 100%;

  &.c-button-group--column {
    flex-direction: column;
  }

  .c-button {
    flex-grow: 2;
  } 
}

.c-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: var(--border-radius);
  text-align: center;
  background: var(--color-bg-z0);
  color: var(--color-text-light);
  box-shadow: 0 0 0 1px inset var(--color-border-z2);

  svg {
    fill: currentColor;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.25;
  }

  &:hover {
    background: var(--color-bg-z1);
    box-shadow: 0 0 0 1px inset var(--color-border-z3);
  }

  &.c-button--primary {
    color: var(--color-text-base-on-primary);
    background: var(--color-primary);
    box-shadow: none;

    &:hover {
      background: var(--color-primary-hover);
    }
  }

  &.c-button--red {
    color: var(--color-text-base-on-red);
    background: var(--color-red);
    box-shadow: none;

    &:hover {
      background: var(--color-red-hover);
    }
  }

  &.c-button--radio {
    color: var(--color-text-light);
    font-weight: normal;
    box-shadow: none;
    z-index: 2;
    background: none;

    &:hover {
      background: var(--color-bg-z1) !important;
    }
  }

  &.c-button--radio-active {
    color: var(--color-text-base);
    font-weight: bold;
    box-shadow: 0 0 0 1px inset var(--color-border-z3) !important;
    z-index: 2;
    background: var(--color-bg-z1);

    &:hover {
      background: var(--color-bg-z1) !important;
    }

    .h-crosshair {
      &::before,
      &::after {
        background: var(--color-text-base);
      }
    }
  }

  &.c-button--icon {
    padding: 8px;
    min-width: 40px;
    min-height: 40px;
  }

  &.c-button--icon.c-button--small {
    min-width: 18px;
    min-height: 18px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.c-button--bare {
    padding: 0;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  &.c-button--circle {
    border-radius: 100%;
  }

  &.c-button--planet {
    justify-content: flex-start;
    overflow: visible;
    gap: 24px;
    box-shadow: none;
    padding: 16px 24px;

    &:hover {
      box-shadow: 0 0 0 1px inset var(--color-border-z2);
      background: none;
    }
  }
}

@keyframes planet-loader-anim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

.c-button__planet {
  position: relative;
  width: 24px;
  height: 24px;
  background-size: 48px 48px;
  background-position: -12px -12px;
  border-radius: 100%;

  &.c-button__planet--saturn,
  &.c-button__planet--haumea {
    background-size: 24px 24px;
    background-position: initial;
  }

  &.c-button__planet--loading {
    border-radius: 100%;
    background-image: linear-gradient(to right, var(--color-bg-z1), var(--color-bg-z2), var(--color-bg-z1));
    background-size: 400% 100%;
    animation: planet-loader-anim 4s linear infinite;
  }
}